@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --foreground: #222222;
  --background: #f3f3f3;
  --white: #ffffff;
  --font-body: "Inter", sans-serif;
  --font-heading: "Chillax", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: var(--font-body);
  font-weight: 400;
  font-size: 14px;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;

  overflow: auto;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, Edge */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin-block: 1rem;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}

@media (max-width: 840px) {
  .container .ql-editor {
    max-width: 97vw;
    padding: 0.3in;
  }
}

.container .ql-container.ql-snow {
  border: none;
}

.ql-editor ::selection {
  background-color: var(--foreground);
  color: var(--background);
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  width: fit-content;
  top: 15px;
  margin: 15px;
  padding-block: 15px;
  border-radius: 20px;
  z-index: 1;
  background-color: var(--white);
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

/* @page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
} */

section {
  position: relative;
}

.top-bar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  padding-block: 8px;
  padding-inline: 14px;
  background-color: var(--white);
  z-index: 2;
  border-bottom: #222222 1px solid;
}

button {
  border-radius: 10px;
  padding: 8px 12px;
  display: flex;
  color: var(--foreground);
  align-items: center;
  border: var(--foreground) 1px solid;
  background-color: var(--white);
  cursor: pointer;
}

.icon {
  margin-right: 6px;
  width: 14px;
  height: 14px;
}

.top-bar .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
}

.top-bar .content .wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.top-bar .content h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-family: "Chillax", sans-serif;
}

.top-bar .content .menu-wrapper .icon {
  width: 26px;
  height: 26px;
}

.avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--foreground);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 550px) {
  .top-bar .content .wrapper {
    gap: 10px;
  }

  .top-bar .content h1 {
    display: none;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }
}
